Options -Indexes
DirectoryIndex index.php

RewriteEngine On
RewriteBase /

# Lewati file dan folder yang sudah ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua request diarahkan ke index.php
RewriteRule ^(.*)$ index.php [QSA,L]
